<div class="container">
  <% if @players.length > 0 %>
  <ul>
    <%@players.each do |player|%>
    <li><h3><%= link_to "#{player.name}", "/players/#{player.id}"%></h3></li>
    <%end%>
  </ul>

  <% else %>
  <h3>Sorry, no results match your search. Try Again!</h3>
  <% end %>
</div>
